language: php

php:
  - 5.6

before_script:
  - cp .env.travis .env
  - mysql -e 'create database homestead_test;'
  - composer self-update
  - composer install --no-interaction --dev --no-scripts

script:
  - php artisan migrate --force
  - vendor/bin/phpunit
