@font-face {
  font-family: "SanFranciscoLight";
  src: url("/fonts/SanFranciscoDisplay-Light.otf"); }

@font-face {
  font-family: "SanFranciscoReg";
  src: url("/fonts/SanFranciscoDisplay-Regular.otf"); }

body {
  background-color: #f9f9f9;
  font-family: 'SanFranciscoLight'; }

#app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 2em;
  margin-bottom: 10em; }

.l-box {
  padding: 1em; }

a:link, a:visited {
  text-decoration: none;
  color: inherit;
  transition: 0.3s; }
  a:link:hover, a:visited:hover {
    color: black; }

i {
  cursor: pointer; }

table {
  width: 100%; }

ul.errors {
  list-style: none;
  padding: 0; }
  ul.errors li {
    color: #f03d3d; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.2em 0.4em 0.2em 0.4em;
  border-color: #b3b3b3; }

.button-green,
.button-red,
.button-orange,
.button-yellow,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.button-green {
  background: #1cb841;
  /* this is a green */ }

.button-red {
  background: #ca3c3c;
  /* this is a maroon */ }

.button-orange {
  background: #df7514;
  /* this is an orange */ }

.button-yellow {
  background: #f1c40f;
  /* this is an orange */ }

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

.button-xsmall {
  font-size: 70%; }

.button-small {
  font-size: 85%; }

.button-large {
  font-size: 110%; }

.button-xlarge {
  font-size: 125%; }

.green {
  color: #3fc649; }

.yellow {
  color: #f1c40f; }

.red {
  color: #f03d3d; }

.client_status {
  display: inline-block;
  vertical-align: middle;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  margin-left: 0.4em; }
  .client_status.green {
    background-color: #3fc649; }
  .client_status.yellow {
    background-color: #f1c40f; }
  .client_status.red {
    background-color: #f03d3d; }

.clientapp .banner {
  background-color: #f5f4f4; }
  .clientapp .banner p {
    font-size: 75%;
    margin: 0; }

.header {
  font-family: 'SanFranciscoReg'; }
  .header .context_menu {
    font-size: 150%; }
    .header .context_menu p {
      display: inline; }
      .header .context_menu p.details {
        display: block;
        font-size: 60%; }
        .header .context_menu p.details i {
          margin-right: 0.2em; }
    .header .context_menu span {
      margin-left: 0.5em;
      margin-right: 0.5em; }
    .header .context_menu .upper_level {
      color: #b3b3b3; }
    .header .context_menu .client_status {
      margin-left: 0.2em; }
  .header .user p {
    text-align: right; }
    .header .user p span {
      margin-left: 0.6em; }

.criticals p {
  font-size: 85%; }
  .criticals p.subheading {
    font-size: 125%; }
    .criticals p.subheading i {
      font-size: 80%;
      margin-left: 0.4em; }
  .criticals p.details {
    font-size: 75%;
    color: #6B6B6B; }
  .criticals p.highlight {
    font-size: 150%;
    margin-top: 0; }

.criticals .project_box {
  margin-bottom: 1.5em;
  border: 1px solid #E6E6E6;
  border-radius: 2px; }
  .criticals .project_box.new_project_box input {
    outline: none;
    border: none;
    width: 100%; }
  .criticals .project_box .latest_activity {
    border-top: 1px solid #E6E6E6; }

.criticals .invoices table {
  margin-bottom: 0em; }
  .criticals .invoices table a.pure-button-primary {
    color: white; }
  .criticals .invoices table tr td.actions {
    opacity: 0; }
    .criticals .invoices table tr td.actions i {
      margin-right: 0.6em; }
  .criticals .invoices table tr:hover td.actions {
    opacity: 1; }
  .criticals .invoices table.new_invoice {
    margin-bottom: 2em; }
    .criticals .invoices table.new_invoice input {
      width: 90%;
      border: none;
      outline: none; }

.criticals .invoices #hor-minimalist-a {
  font-size: 12px;
  background: #fff;
  border-collapse: collapse;
  text-align: left;
  width: 100%; }

.criticals .invoices #hor-minimalist-a th {
  font-size: 14px;
  font-weight: normal;
  color: black;
  padding: 10px 0px; }

.criticals .invoices #hor-minimalist-a td {
  color: #6b6b6b;
  padding: 9px 8px 0px 0px; }
  .criticals .invoices #hor-minimalist-a td .client_status {
    margin-left: 0.6em; }

.criticals .invoices #hor-minimalist-a tbody tr:hover td {
  color: black; }

.criticals .project_updates .project_update {
  margin-bottom: 2em; }
  .criticals .project_updates .project_update p.update_details span {
    color: #b3b3b3; }

.criticals .project_activity .project_activity_block p {
  margin: 0; }
  .criticals .project_activity .project_activity_block p.activity_title {
    font-size: 100%;
    margin-bottom: 0.3em; }
  .criticals .project_activity .project_activity_block p.details {
    margin-bottom: 0.4em; }

.criticals .project_activity .project_activity_block .activity_icon {
  border-left: 2px solid #E0E0E0; }
  .criticals .project_activity .project_activity_block .activity_icon .l-box {
    padding-left: 0; }
    .criticals .project_activity .project_activity_block .activity_icon .l-box i {
      padding: 0.2em 0.2em 0.3em 0.2em;
      margin-left: -10px;
      background-color: white; }

.criticals .actions form {
  display: inline; }

/*# sourceMappingURL=style.css.map */
